<tr>
	<td>
		<%=link_to "#{registration_ability.user.last_name}, #{registration_ability.user.first_name}", edit_user_calendar_registration_ability_path(registration_ability.user, registration_ability.calendar, registration_ability) %>
	</td>
</tr>
